<div class="player-container">
    <div class="fundo2"></div>
    <div class="player-buttons">
        
        
        
        <div class="times">
        
                <p id="tempoInical">0:00</p>


            
                
                
                
                <div class="meio">
                    <svg id="anterior" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path d="M9.195 18.44c1.25.714 2.805-.189 2.805-1.629v-2.34l6.945 3.968c1.25.715 2.805-.188 2.805-1.628V8.69c0-1.44-1.555-2.343-2.805-1.628L12 11.029v-2.34c0-1.44-1.555-2.343-2.805-1.628l-7.108 4.061c-1.26.72-1.26 2.536 0 3.256l7.108 4.061Z" />
                    </svg>
                  
                  
                    <label id="play">
                      <svg id="playIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z" clip-rule="evenodd" />
                        </svg>
                        
                        
                        <svg style="display: none;" id="pause" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM9 8.25a.75.75 0 0 0-.75.75v6c0 .414.336.75.75.75h.75a.75.75 0 0 0 .75-.75V9a.75.75 0 0 0-.75-.75H9Zm5.25 0a.75.75 0 0 0-.75.75v6c0 .414.336.75.75.75H15a.75.75 0 0 0 .75-.75V9a.75.75 0 0 0-.75-.75h-.75Z" clip-rule="evenodd" />
                        </svg>
                        
                        
                        
                    </label>
                    
                    <svg id="posterior" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path d="M5.055 7.06C3.805 6.347 2.25 7.25 2.25 8.69v8.122c0 1.44 1.555 2.343 2.805 1.628L12 14.471v2.34c0 1.44 1.555 2.343 2.805 1.628l7.108-4.061c1.26-.72 1.26-2.536 0-3.256l-7.108-4.061C13.555 6.346 12 7.249 12 8.689v2.34L5.055 7.061Z" />
                    </svg>
                </div>
                
                
                <div class="direita">

                    <label id="som">
                        <svg id="somIconA" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                          <path d="M13.5 4.06c0-1.336-1.616-2.005-2.56-1.06l-4.5 4.5H4.508c-1.141 0-2.318.664-2.66 1.905A9.76 9.76 0 0 0 1.5 12c0 .898.121 1.768.35 2.595.341 1.24 1.518 1.905 2.659 1.905h1.93l4.5 4.5c.945.945 2.561.276 2.561-1.06V4.06ZM18.584 5.106a.75.75 0 0 1 1.06 0c3.808 3.807 3.808 9.98 0 13.788a.75.75 0 0 1-1.06-1.06 8.25 8.25 0 0 0 0-11.668.75.75 0 0 1 0-1.06Z" />
                          <path d="M15.932 7.757a.75.75 0 0 1 1.061 0 6 6 0 0 1 0 8.486.75.75 0 0 1-1.06-1.061 4.5 4.5 0 0 0 0-6.364.75.75 0 0 1 0-1.06Z" />
                        </svg>

                        <svg id="somIconD" style="display: none;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path d="M13.5 4.06c0-1.336-1.616-2.005-2.56-1.06l-4.5 4.5H4.508c-1.141 0-2.318.664-2.66 1.905A9.76 9.76 0 0 0 1.5 12c0 .898.121 1.768.35 2.595.341 1.24 1.518 1.905 2.659 1.905h1.93l4.5 4.5c.945.945 2.561.276 2.561-1.06V4.06ZM17.78 9.22a.75.75 0 1 0-1.06 1.06L18.44 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06l1.72-1.72 1.72 1.72a.75.75 0 1 0 1.06-1.06L20.56 12l1.72-1.72a.75.75 0 1 0-1.06-1.06l-1.72 1.72-1.72-1.72Z" />
                        </svg>
        

                    </label>
                    
                    <label id="reapet">

                    <svg id="reapetIco1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path id="reapetIco" stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                       
                    </svg>

                    
                    
                    </label>


                
                <svg id="gostei" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                  </svg>

                  
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M5.566 4.657A4.505 4.505 0 0 1 6.75 4.5h10.5c.41 0 .806.055 1.183.157A3 3 0 0 0 15.75 3h-7.5a3 3 0 0 0-2.684 1.657ZM2.25 12a3 3 0 0 1 3-3h13.5a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3v-6ZM5.25 7.5c-.41 0-.806.055-1.184.157A3 3 0 0 1 6.75 6h10.5a3 3 0 0 1 2.683 1.657A4.505 4.505 0 0 0 18.75 7.5H5.25Z" />
                  </svg>
                  

                
                <p id="duracao">0:00</p>
            </div>
            

        </div>
        <div class="barra">
            
            <input type="range"  id="barra-time" min="0" max="100" step="0.1" value="0">
                
                    <progress id="progressBar" value="0" min="0" max="100" step="0.1"></progress>
                    
                    

            </div>
            
            
            <% if(tocar != null){ %>

                <audio autoplay id="player" src="<%= tocar.dir %>"></audio>

            <% }else{ %>

                <audio   id="player"></audio>

            <% } %>
          
    </div>

</div><!--player-container-->

<script>
    
            function formatarTempo(segundos) {
                const minutos = Math.floor(segundos / 60);
                const segundosRestantes = Math.floor(segundos % 60);
                const segundosFormatados = segundosRestantes < 10 ? `0${segundosRestantes}` : segundosRestantes;
                return `${minutos}:${segundosFormatados}`;
            }

            //let musicInfo = document.querySelectorAll(".musicasInfo");
            let musicaCont = document.querySelectorAll(".musica-container");
            let player = document.getElementById("player");
            let id = window.location.href.split("/")[4];
            let reqs = window.location.href.split("/")[3];
            let index = parseInt(window.location.href.split("/")[5] != undefined || window.location.href.split("/")[5] != NaN ? window.location.href.split("/")[5] : 0 );
            let qtd = parseInt(document.getElementById("qtd").value);
            let isAlbum = window.location.href.split("/")[4]
        
            console.log('reqs',reqs=="")



            let play = document.getElementById("play")
            //let player = document.getElementById("player-audio")
            let pause = document.getElementById("pause")
            let playIcon = document.getElementById("playIcon")
            let progressbar = document.getElementById("progressBar")
            let barraTime = document.getElementById("barra-time")
            let tempoInical = document.getElementById("tempoInical")
            let duracao = document.getElementById("duracao")
            let cor = document.getElementById("cor")
            let reapet = document.getElementById("reapet");
            let reapetIco = document.getElementById("reapetIco")
            let reapetIco1 = document.getElementById("reapetIco1")
            let notReap = document.getElementById("notReap")
            let som = document.getElementById("som");
            let somIconA = document.getElementById("somIconA");
            let somIconD = document.getElementById("somIconD");
            let anterior = document.getElementById("anterior");
            let posterior = document.getElementById("posterior");




            function playMusic(){

                                    
            playIcon.style.display = "none"
            pause.style.display = "block"
            player.play()

            }
           

            let clicou = false;
            reapet.addEventListener("click",() => {
                if(!clicou){
                    reapetIco.style.filter = 'invert(50%)';
                    //reapetIco.style.filter = 'hue-rotate(120deg)';
                    clicou = true
                }else{
                    reapetIco.style.filter = 'invert(100%)';
                    clicou = false

                }

            })


            let clicouSom = false
            som.addEventListener("click", () => {
                if(!clicouSom){
                    somIconA.style.display = "none"
                    somIconD.style.display = "block"
                    clicouSom = true;
                }else{
                    somIconA.style.display = "block"
                    somIconD.style.display = "none"
                    clicouSom = false;

                }
            })


   
                play.addEventListener("click",() => {
                    
                    if(player.paused){
                        playMusic()
                    }else{
                        playIcon.style.display = "block"
                        pause.style.display = "none"
                        player.pause()
                        
                    }
                })

            



    

    player.addEventListener("timeupdate",() => {

        let porcentagem = (player.currentTime / player.duration)*100
        barraTime.value = porcentagem
        progressbar.value = porcentagem
        tempoInical.innerText = formatarTempo(player.currentTime);

        if(porcentagem >= 100){
            playIcon.style.display = "block"
            pause.style.display = "none"

        }

     

        if(clicou && porcentagem >= 100){

            //alert("fim")
            player.currentTime = 0.0;
            //player.autoload = true
          
            //player.play()
            playMusic()

        
        }


        
        
        //progressbar.max = player.duration
    })

    player.addEventListener("loadedmetadata", () => {
        duracao.textContent = formatarTempo(player.duration)
    if (!isNaN(player.duration)) {
        progressbar.max = 100;
    }
});

    progressbar.addEventListener("click", (e) => {
    let percent =( e.offsetX )/ progressbar.offsetWidth;
    player.currentTime = percent * player.duration;
});

    barraTime.addEventListener("input",(e) => {

        let percent1 = e.target.value;
        player.currentTime = (percent1 / 100) * player.duration;

        
    })
    

            //console.log(index)
            console.log("index",index)
            //console.log("index1",index1)
            console.log("qtd",qtd)

        

            let musicasSelcs = []
            let musicasInfo = document.querySelectorAll(".musicasInfo")
            let novoIndex = 0;

            musicasInfo.forEach(e => {
                console.log(e.value)
                musicasSelcs.push(e.value)

            })

/*
            if(isAlbum === "album"){
                alert("oi")
            }

*/          
           
            
            musicaCont.forEach((botao,currentIndex) => {

          
                
                botao.addEventListener("click",(e) => {
                    console.log("index",currentIndex)
                    if(reqs === ""){
                        //console.log(musicasInfo)
                        // Encontrar o input hidden dentro do container clicado
                        let hiddenInput = botao.querySelector('.musicasInfo');
                        // Pegar o valor do input hidden
                        let musicDir = hiddenInput.value;
                        novoIndex = currentIndex;

                       // console.log('Index:', currentIndex);
                        console.log('Music Dir:', musicDir);
                        player.src = musicDir
                        playMusic()
                        
                        
                        
                        
                        
                    }else if(isAlbum === "album"){
                        //console.log(musicasInfo)
                        // Encontrar o input hidden dentro do container clicado
                        let hiddenInput = botao.querySelector('.musicasInfo');
                        // Pegar o valor do input hidden
                        let musicDir = hiddenInput.value;
                        novoIndex = currentIndex;

                       // console.log('Index:', currentIndex);
                        console.log('Music Dir:', musicDir);
                        player.src = musicDir
                        playMusic()
                        
                        
                    }else{

                        window.location.href = `http://localhost:8080/playlist/${id}/${currentIndex}`;

                    }

                  
                    
                    
                })
                
                
            })
            
            player.addEventListener("timeupdate", () => {

                
                if(index < qtd && player.currentTime >= player.duration && reqs != "" && index != NaN){
                    window.location.href = `http://localhost:8080/playlist/${id}/${index+1}`;

                } 

                //console.log(musicasSelcs,novoIndex)
                
                if(novoIndex < musicasSelcs.length && player.currentTime >= player.duration  && reqs === ""){

                    //alert("oi")
                    novoIndex++
                    player.src = musicasSelcs[novoIndex];
                    playMusic()

                }

                if(novoIndex < musicasSelcs.length && player.currentTime >= player.duration  && isAlbum === "album"){

                    //alert("oi")
                    novoIndex++
                    player.src = musicasSelcs[novoIndex];
                    playMusic()

                }
            })


            anterior.addEventListener("click",() => {
                alert("antes")

                
            })
            
            if(novoIndex < 0){
                anterior.style.display = "none"
            }else{
                anterior.style.display = "block"

            }

            if(novoIndex < musicasSelcs.length){
                posterior.style.display = "block"
            }else{
                posterior.style.display = "none"

            }





         

           
           
    
</script>